OZW_Log.txt
/deps
home-assistant.log*
home-assistant_v2.db*
pyozw.sqlite
options.xml
__pycache__
/home-assistant.git
.uuid
.tradfri_psk.conf
google_assistant.yaml
__pycache__
.storage
.cloud
custom_components/*
www/
themes
secrets.yaml
appdaemon/compiled